section article p strong{
    font-family: Cambria, Cochin, Georgia, Times;
    color: red;
}

 h1 {
    margin-left: 10px;
    text-decoration: none;                 /* Sin decoración */
    text-decoration: underline blue;        /* Subrayado rojo */
   /* text-decoration: underline wavy red;*/ 
    color: blue;
    font-size: 20px;
}


.modos{
    margin-left: 10px;
    color: rebeccapurple;
    text-decoration: underline rebeccapurple; 
    font-size: 20px;
}

.color{color: red;}
.tamaño{font-size: 15px;}
.tipo{font-family: Verdana, Geneva, Tahoma, sans-serif;}

#des{
    color: red;
    font-size: 15px;
}

a{
    color: red;
    font-weight: bold;
   
}

/*Destacamos el enlace cuando está
   suspendido, activado
   o enfocado*/
a:hover,
a:active,
a:focus {
  color: darkred;
  text-decoration: none;