/*selector universal para todas las etiquetas*/
/*
*{
    
    border: 0px solid red;
     /*la 1ra etiqueta es el body*/
    

     #imagen {
        width: 100%;
        background-image: url("../image/logo.jpg");
        background-repeat: no-repeat;
        position: relative;
        height: 270px; /*para el alto de la caja*/
        background-position-x: 450px;
        }




    #contenido{
        width: 96%;
        margin-left: 10px;
        padding: 5px 20px ;
       border-width:  3px;
      
       border-radius: 60px 60px 60px 60px;
       float: right;
       background-color:greenyellow;
    }


#menu1{
    margin-top: 10px; /*espacio entre tablas*/
    width: 25%;
    float: left;
    background-color:lightskyblue;
    margin-left: 10px; /*margenes*/
    padding: 5px 20px ;

   
    border-radius: 60px 60px 60px 60px;

}

#section2
{
    width: 64%;  
    border-width:  thin;
    height: 70px; /*para el alto de la caja*/
    float: right;
   

  
}





 #pie1{
    margin-top: 55px; /*espacio entre tablas*/
    width: 90%; 
    margin-left: 25px;
    padding: 10px 35px;
    text-align: center;
    background-color: powderblue;
    border-radius: 60px 60px 60px 60px;
 }

 body{
    background-color: azure;
        background-repeat: no-repeat;
        background-position: center; 
    }



    h1{
color: black;
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
text-decoration-style: solid;
    }

  



    h2{
        color: red;
        font-size: 20px;
        font-family: sans-serif;
        text-decoration-style: solid;
    }




    h3{
        color:chocolate;
        font-size: 20px;
        font-family: monospace;
        text-decoration-style: solid;
    }




    h4{
        color:black;
        font-size: 15px;
        font-family: cursive;
        text-decoration-style: solid;
    }

a{
    color: red;
    font-weight: bold;
   
}

/*Destacamos el enlace cuando está
   suspendido, activado
   o enfocado*/
a:hover,
a:active,
a:focus {
  color: darkred;
  text-decoration: none;


  /*
 

    .logo{
        width: 330px;
        height: 330px;
    }

  

    #menuPrincipal
    {
        width: 100%;

        float: left;
    }

    #pie{
        margin-top: 10px; /*margenes
    }*/